<h1>INDEX PAGE</h1>
<% blogs.forEach(element => { %>
<div>
  <h2><%=element.title%></h2>
  <img src="<%=element.image%>" alt="<%=element.title%>" />
  <span><%=element.created%></span>
  <p><%=element.body%></p>
</div>
<%}); %>
